<!DOCTYPE html>

{% extends "master.html" %}

{% block title %}Mark's Projects{% endblock %}

{% load static %}

{% block content %}


<!-- projects section -->
<div class="row my-2">

    <div>
        <!-- text for project cards -->
        <h2 class="my-5 text-white text-center" id="topSection"> My Projects and Inspirational Software </h2>
    </div>

    <!-- link cards -->
    <div class="col justify-content-around d-flex">
        <!-- proj cards section 1-->
        <div class="d-flex justify-content-around flex-column">

            <!-- Pong Card -->
            <div class="card mb-3" style="width:300px">
                <img class="card-img-top" src="{% static 'AboutContact/pongICO.jpg' %}" alt="pong game icon">
                <div class="card-body d-flex flex-column align-items-center">
                    <p class="my-3">My take on the classic game 'Pong'. Created in pure Javascript. Features reactive
                        opponents and dynamic gameplay.</p>
                    <a href="/pong/" class="btn btn-dark">pong</a>
                </div>
            </div>

            <!-- Snake card -->
            <div class="card" style="width:300px">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="/snek/" class="btn btn-dark">snek</a>
                    <p class="my-3">My take on the classic game 'Snake'. Created in pure Javascript. Features quality of
                        life improvements and dynamic collision sprites.</p>
                </div>
                <img class="card-img-bottom" src="{% static 'AboutContact/snekICO.jpg' %}" alt="snek game icon">
            </div>
        </div>

    </div>

    <div class="col justify-content-around d-flex">
        <!-- proj cards section 2 -->
        <div class="d-flex justify-content-around flex-column">

            <!-- Solar card -->
            <div class="card mb-3" style="width:300px">
                <img class="card-img-top" src="{% static 'AboutContact/solarICO.jpg' %}" alt="solar sim icon">
                <div class="card-body d-flex flex-column align-items-center">
                    <p class="my-3">An interactive animation I created of our Solar System. Each celestial body's size,
                        speed, and distance are to scale.</p>
                    <a href="/solar/" class="btn btn-dark">solar</a>
                </div>
            </div>

            <!-- Cat Game Card -->
            <div class="card" style="width:300px">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="https://orteil.dashnet.org/igm/?g=https://raw.githubusercontent.com/MarkNaSSIB/cat-click-cook/main/catClicker.txt"
                        class="btn btn-dark">Cat Clicker[WIP]</a>
                    <p class="my-3">A Clicker Game I created with a Cat theme. Created utilizing Orteil's 'Idle Game
                        Maker' framework. Features custom CSS, unique gameplay, dynamic sprites, and efficient code.</p>
                </div>
                <img class="card-img-bottom img-fluid" src="{% static 'AboutContact/catICO.jpg' %}"
                    alt="placeholder img">

            </div>
        </div>
    </div>

    <div class="col justify-content-around d-flex">
        <!-- proj cards section 3-->
        <div class="d-flex justify-content-around flex-column">

            <!-- Senior Project card -->
            <div class="card mb-3" style="width:300px">
                <img class="card-img-top" src="{% static 'AboutContact/research.png' %}" alt="Research Paper icon">
                <div class="card-body d-flex flex-column align-items-center">
                    <p class="my-3">My Mentored Research Project Paper. I researched Caller ID Authentication with the
                        help
                        of Dr. Jikai Li. Our aim was to utilize novel web protocols to develop a algorithm which detects
                        spam and spoofed phone calls.
                    </p>
                    <a href="/about/researchPaper" class="btn btn-dark">Senior MRP Paper</a>
                </div>
            </div>

            <!-- Keita Yamada Card -->
            <div class="card" style="width:300px">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="https://p5aholic.me/" class="btn btn-dark">Keita Yamada</a>
                    <p class="my-3">A personal portfolio, created by Keita Yamada. Features excellent UI and Graphic
                        Design.</p>
                </div>
                <img class="card-img-bottom" src="{% static 'AboutContact/KYP.png' %}"
                    alt="Keita Yamada Portfolio icon">
            </div>

        </div>
    </div>

    <div class="col justify-content-around d-flex">
        <!-- proj cards section 4 -->
        <div class="d-flex justify-content-around flex-column">

            <!-- Python Web Scraping card -->
            <div class="card mb-3" style="width:300px">
                <img class="card-img-top" src="{% static 'AboutContact/webScrape.png' %}" alt="Web Scraper icon">
                <div class="card-body d-flex flex-column align-items-center">
                    <p class="my-3">A project I created in a team for CSC 360: Computer Networking. Created in Python
                        utilizing Selenium and Beautiful Soup.
                    </p>
                    <a href="/about/webScraper" class="btn btn-dark">Python Web Scraper</a>
                </div>

            </div>

            <!-- Ian Dunkerley card -->
            <div class="card" style="width:300px">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="https://dunks1980.com/" class="btn btn-dark">Ian Dunkerley</a>
                    <p class="my-3">A personal portfolio, created by Ian Dunkerley. Features dynamic UI and simple,
                        usable design.</p>
                    <img class="card-img-bottom" src="{% static 'AboutContact/IDP.png' %}"
                        alt="Ian Dunkerley portfolio icon">
                </div>
            </div>

        </div>
    </div>
</div>

</div>

<!-- skills and about section -->
<div class="row my-5 d-flex justify-content-around">
    <div>
        <!-- text for tech stack cards -->
        <h2 class="my-5 text-white text-center" id="skillSection"> My Skills and About Me </h2>
    </div>

    <!--left stacks -->
    <div class="col-lg-2 mb-5 m-3 d-flex justify-content-around">

        <!-- tech stack card -->
        <div class="card about-card mb-3" style="width:247px; height:647px;">
            <div class="card-header">
                <h4 class="text-center">Tech Stack</h4>
            </div>
            <div class="card-body ms-3">
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Git and Github</li>
                    <li>HTML, CSS, JavaScript</li>
                    <li>C++</li>
                    <li>Java</li>
                    <li>Ruby and Rails</li>
                    <li>Bootstrap 5</li>
                    <li>Node.JS</li>
                    <li>MAVEN</li>
                    <li>Postman</li>
                    <li>JUnit</li>
                    <li>Springboot</li>
                    <li>Typescript</li>
                    <li>Active Directory</li>
                    <li>Azure AD [MS Entra ID]</li>
                    <li>JIRA</li>
                    <li>SQL and Database Design</li>
                    <li>Visual Basic</li>
                    <li>Docker</li>
                    <li>AGILE</li>
                    <li>Machine Code</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- right stacks -->
    <div class="col-lg-2 d-flex align-items-center justify-content-start flex-column">

        <!-- education card -->
        <div class="card about-card mb-2" style="width:400px;">
            <div class="card-header">
                <h4 class="text-center">Education</h4>
            </div>
            <div class="card-body ms-3">
                <ul>
                    <li>
                        <h4>The College of New Jersey 2017-2021</h4>
                    </li>
                    <ul>
                        <li>Bachelor of Science - Computer Science</li>
                        <li>Overall GPA: 3.3</li>
                        <li>Alpha Chi Rho Fraternity</li>
                        <ul>
                            <li>Active Member: 2018 - 2021</li>
                            <li>Excecutive Board Member: 2019 - 2021</li>
                        </ul>
                    </ul>
                </ul>
            </div>
        </div>

        <!-- experience stack card -->
        <div class="card about-card mb-5" style="width:400px;">
            <div class="card-header">
                <h4 class="text-center">Experience</h4>
            </div>
            <div class="card-body ms-3">
                <ul>
                    <li>
                        <h4>Mphasis - Associate Software Engineer</h4>
                    </li>
                    <ul>
                        <li>07/2022 - 01/2023</li>
                        <li>Developed Full Stack Applications</li>
                        <li>Worked with New Technologies</li>
                        <li>Learned greatly about the Finance Sector</li>
                    </ul>
                    <li>
                        <h4>Inspira Health Network - IS Intern</h4>
                    </li>
                    <ul>
                        <li>05/2019 - 08/2019</li>
                        <li>Upgraded and Installed hundreds of workstations</li>
                        <li>Assisted hospital personnel with critical technical difficulties.</li>
                        <li>Thoroughly utilized ticket system.</li>
                    </ul>
                </ul>
            </div>
        </div>

    </div>

    <!-- about section -->
    <div class="col-lg-5 m-3 d-flex justify-content-around align-items-center flex-column">
        <!-- about text -->
        <div>
            <h2 class="text-center text-white">My Story</h2>
            <p class="text-justify">
                Hi! I'm Mark Boutros, a passionate and dedicated software engineer on a perpetual quest for innovation.
                With a foundation in Computer Science from The College of New Jersey, I've cultivated expertise in a
                diverse tech stack, including Python, Django, Git, HTML, CSS, JavaScript, and more. My journey has led
                me through impactful roles, like contributing as an Associate Software Engineer at Mphasis, where I
                honed my full-stack development skills. My commitment to continuous learning and adaptability fuels my
                drive, making each project an opportunity to push boundaries and create meaningful solutions. If you
                have any ideas or projects in mind, I'd love to hear about them!
            </p>

        </div>

        <!-- resume card -->
        <div class="my-5">
            <div class="card" style="width:400px">
                <a href="/about/resume" class="btn btn-dark">See His CV</a>
                <img class="card-img-bottom img-fluid" src="{% static 'AboutContact/IMG_9204.jpg' %}"
                alt="A picture of me">
            </div>
        </div>
    </div>

</div>

<!-- link section -->
<div class="row my-5">
    <div>
        <!-- text for link cards -->
        <h2 class="my-5 text-white text-center" id="linkSection"> My Links and More! </h2>
    </div>

    <!-- left section -->
    <div class="col-lg-5 m-3 d-flex justify-content-around align-items-center flex-column">
        <!-- contact text -->
        <div>
            <p class="text-justify">
                Welcome! If you're interested in my professional journey, feel free to check out my <a
                    href="https://www.linkedin.com/in/mark-boutros/">LinkedIn</a> profile. For a
                deeper dive into my coding adventures, explore my repositories on <a
                    href="https://github.com/MarkNaSSIB">GitHub.</a> Sharpening my problem-solving
                skills on <a href="https://leetcode.com/markNSSIB/">LeetCode</a> is a passion, and you can find my
                solutions there. Lastly, if you're curious about my
                projects and creations, head over to my Projects page. Feel free to connect with me on LinkedIn or by
                email.
            </p>
        </div>

        <!-- resume card -->
        <div class="m-5">
            <div class="card" style="width:400px">
                <a href="/about/resume" class="btn btn-dark">See My CV</a>
                <img class="card-img-bottom img-fluid" src="{% static 'AboutContact/resume.jpg' %}"
                    alt="A photo of my resume">
            </div>
        </div>

    </div>

    <!-- link cards -->
    <div class="col-lg-5 justify-content-around d-flex">
        <!-- link cards section 1-->
        <div class="d-flex justify-content-around flex-column">

            <!-- LinkedIn Card -->
            <div class="card" style="width:153px">
                <img class="card-img-top" src="{% static 'AboutContact/linkedin.png' %}" alt="linkedin logo icon">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="https://www.linkedin.com/in/mark-boutros/" class="btn btn-dark">LinkedIn</a>
                </div>
            </div>

            <!-- Github card -->
            <div class="card my-5" style="width:153px">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="https://github.com/MarkNaSSIB" class="btn btn-dark">GitHub</a>
                </div>
                <img class="card-img-bottom" src="{% static 'AboutContact/github.png' %}" alt="github logo icon">
            </div>

        </div>

        <!-- link cards section 2 -->
        <div class="d-flex justify-content-around flex-column">

            <!-- LeetCode card -->
            <div class="card" style="width:153px">
                <img class="card-img-top" src="{% static 'AboutContact/leetcode.png' %}" alt="leetcode logo icon">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="https://leetcode.com/markNSSIB/" class="btn btn-dark">LeetCode</a>
                </div>
            </div>

            <!-- my projects card -->
            <div class="card my-5" style="width:162px">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="https://www.hackerrank.com/profile/markblankboutros" class="btn btn-dark">HackerRank</a>
                </div>
                <img class="card-img-bottom img-fluid" src="{% static 'AboutContact/hacker.png' %}" alt="hacker rank icon">

            </div>
        </div>
    </div>

</div>

{% endblock %}