<!DOCTYPE html>

{% extends "master.html" %}

{% block title %}Mark's Projects{% endblock %}

{% load static %}

{% block content %}



<div class="row">

    <div>
        <!-- center text with cards -->
        <h2 class="my-3 text-white text-center"> My Projects and Inspirational Software </h2>
    </div>

    <!-- link cards -->
    <div class="col-lg-6 justify-content-around d-flex">


            <!-- link cards section 1-->
            <div class="d-flex justify-content-around flex-column">

                <!-- Pong Card -->
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="{% static 'AboutContact/pongICO.jpg' %}" alt="pong game icon">
                    <div class="card-body d-flex flex-column align-items-center">
                        <p class="my-3">My take on the classic game 'Pong'. Created in pure Javascript. Features reactive opponents and dynamic gameplay.</p>
                        <a href="/pong/" class="btn btn-dark">pong</a>
                    </div>
                </div>

                <!-- Snake card -->
                <div class="card my-5" style="width:300px">
                    <div class="card-body d-flex flex-column align-items-center">
                        <a href="/snek/" class="btn btn-dark">snek</a>
                        <p class="my-3">My take on the classic game 'Snake'. Created in pure Javascript. Features quality of life improvements and dynamic collision sprites.</p>
                    </div>
                    <img class="card-img-bottom" src="{% static 'AboutContact/snekICO.jpg' %}" alt="snek game icon">
                </div>

            </div>

            <!-- link cards section 2 -->
            <div class="d-flex justify-content-around flex-column">

                <!-- Solar card -->
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="{% static 'AboutContact/solarICO.jpg' %}" alt="solar sim icon">
                    <div class="card-body d-flex flex-column align-items-center">
                        <p class="my-3">An interactive animation I created of our Solar System. Each celestial body's size, speed, and distance are to scale.</p>
                        <a href="/solar/" class="btn btn-dark">solar</a>
                    </div>
                </div>

                <!-- Cat Game Card -->
                <div class="card my-5" style="width:300px">
                    <div class="card-body d-flex flex-column align-items-center">
                        <a href="https://orteil.dashnet.org/igm/?g=https://raw.githubusercontent.com/MarkNaSSIB/cat-click-cook/main/catClicker.txt"
                            class="btn btn-dark">Cat Clicker[WIP]</a>
                            <p class="my-3">A Clicker Game I created with a Cat theme. Created utilizing Orteil's 'Idle Game Maker' framework. Features custom CSS, unique gameplay, dynamic sprites, and efficient code.</p>
                    </div>
                    <img class="card-img-bottom img-fluid" src="{% static 'AboutContact/catICO.jpg' %}"
                        alt="placeholder img">

                </div>
            </div>
        </div>


    <!-- inpirational software cards -->
    <div class="col-lg-6 justify-content-around d-flex">

            <!-- link cards section 1-->
            <div class="d-flex justify-content-around flex-column">

                <!-- Keita Yamada Card -->
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="{% static 'AboutContact/KYP.png' %}" alt="Keita Yamada Portfolio icon">
                    <div class="card-body d-flex flex-column align-items-center">
                        <p class="my-3">A personal portfolio, created by Keita Yamada. Features excellent UI and Graphic Design.</p>
                        <a href="https://p5aholic.me/" class="btn btn-dark">Keita Yamada</a>
                    </div>
                </div>

                <!-- Cookie Clicker card -->
                <div class="card my-5" style="width:300px">
                    <div class="card-body d-flex flex-column align-items-center">
                        <a href="https://orteil.dashnet.org/cookieclicker/" class="btn btn-dark">Cookie Clicker</a>
                        <p class="my-3">A game that inspired a genre, created by Orteil. Features unique gameplay design, .</p>
                    </div>
                    <img class="card-img-bottom" src="{% static 'AboutContact/CC.png' %}" alt="Cookie CLicker icon">
                </div>

            </div>

            <!-- link cards section 2 -->
            <div class="d-flex justify-content-around flex-column">

                <!-- Ian Dunkerley card -->
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="{% static 'AboutContact/IDP.png' %}" alt="Ian Dunkerley portfolio icon">
                    <div class="card-body d-flex flex-column align-items-center">
                        <p class="my-3">A personal portfolio, created by Ian Dunkerley. Features dynamic UI and simple, usable design.</p>
                        <a href="https://dunks1980.com/" class="btn btn-dark">Ian Dunkerley</a>
                    </div>
                </div>

                <!-- Youtube card-->
                <div class="card my-5" style="width:300px">
                    <div class="card-body d-flex flex-column align-items-center">
                        <p class="my-3">The most utilized video viewing and hosting site. Features outstanding UI Design, efficient search and storage algorithms.</p>
                        <a href="https://youtube.com/"
                            class="btn btn-dark">YouTube</a>
                    </div>
                    <img class="card-img-bottom img-fluid" src="{% static 'AboutContact/YT.png' %}"
                        alt="Youtube img">

                </div>
            </div>
        </div>

</div>

{% endblock %}